*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body{
    background-image:url(../img/bannerheader.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.box-carusel{
    border-radius: 25px;
    background-color: #f0f0f0; 
    background-image: url(../img/bannerinvitacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
   
    
}
.cumpleañeros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
    margin-top: 4rem;
    padding: 5px;
    position: relative; /* Importante para posicionar correctamente la sombra */
    overflow: hidden; /* Asegura que la sombra no se desborde del contenedor */
  }
.cumpleañeros::after {
    content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 50%);
  animation: shine 1.5s infinite;
  pointer-events: none; /* Permite clics y eventos a través del brillo */
  z-index: 1; /* Coloca el brillo encima de la imagen de fondo */
  opacity: 0; /* El brillo estará invisible inicialmente */
  }

  .cumpleañeros:hover::after{
    opacity: 1;
  }

  @keyframes shine {
    0% {
      transform: rotate(0deg) scale(2);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg) scale(1.2);
      opacity: 0;
    }
  }